@use "../core/variables.scss";

html {
  background-color: white;
  font-family: variables.$secondary-font;
  font-size: variables.$text-font-size;
  font-weight: variables.$font-weight-small;
  color: rgb(232, 220, 220);
}

h2 {
  margin: 0;
  font-size: 50px;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.container {
  margin: 32px 16px;
}

.first-block {
  background-color: variables.$first-card-color;
}
