$main-font: "Big Shoulders Display", cursive;
$secondary-font: "Lexend Deca", sans-serif;

$font-weight-small: 400;
$font-weight-big: 700;

$sedan-card-color: hsl(31, 77%, 52%);
$suvs-card-color: hsl(184, 100%, 22%);
$luxury-card-color: hsl(179, 100%, 13%);

$text-font-size: 15px;
